<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- String interpolation -->
  <!-- <h1>Hola mundo</h1>
  <h2>{{"Hola Mundo ".repeat(5)}}</h2>
  <p>3+3={{ 3 + 3 }}</p>
  <h3>Hola, soy {{ name }} y tengo {{ age }} años</h3>
  <img src={{img}} alt="image"> -->

  <!-- Property binding -->
  <!-- <h1>Propiedades</h1>
  <button [disabled]="btnDisabled">Enviar</button>
  <input type="text" name="" [value]="name">
  <progress [value]="age" max="100"></progress>
  <img width="100" [src]="img" alt="image"> -->

  <!-- <h1>Eventos</h1> -->
  <!-- <button [disabled]="btnDisabled">Enviar</button>
  <button (click)="toggleButton()" >Toggle Button</button>
  <p>Edad {{age}}</p>
  <button (click)="increaseAge()" >Age ++</button> -->
  <!-- <div class="box" (scroll)="onScroll($event)">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div> -->

  <!-- <h1>NgModel</h1> -->
  <!-- <p>Nombre {{name}}</p>
  <input type="text" [(ngModel)]="name"> -->

  <!-- <h1>*ngIf</h1>
  <input type="text" [(ngModel)]="name" required>
  <p *ngIf="name === 'Anderson'">Soy Anderson</p>
  <p *ngIf="name === 'Diego'; else myBlock">Soy Diego</p>
  <ng-template #myBlock>
    <p>Bloque de else</p>
  </ng-template> -->

  <!-- <h1>*ngFor</h1> -->
  <input type="text" [(ngModel)]="newName">
  <button (click)="addName()">Add name</button>
  <ul>
    <li *ngIf="names.length===0">No hay nombres</li>
    <li *ngFor= "let name of names; index as i">
      {{i}}). {{name}}
      <button (click)="deleteName(i)" >Delete</button>
    </li>
  </ul>
  <!-- <h1>*ngFor Objs</h1> -->
  <!-- <div>
    <div *ngFor="let product of products">
      <img [src]="product.image" alt="image" width="250">
      <h2>{{product.price}}</h2>
      <p>{{product.name}}</p>
    </div>
  </div> -->

  <!-- <h1>ngSwitch</h1> -->
  <!-- <input type="text" [(ngModel)]="name" required>
  <div [ngSwitch]="name.toLowerCase()">
    <p *ngSwitchCase="'anderson'">
      La persona es Anderson
    </p>
    <p *ngSwitchCase="'diego'">
      La persona es Diego
    </p>
    <p *ngSwitchCase="'freddy'">
      La persona es Freddy
    </p>
    <p *ngSwitchDefault>
      No hace match
    </p>
  </div> -->

  <!-- <h1>*ngFor Objs</h1> -->
  <!-- <div class="product--grid">
    <div *ngFor="let product of products">
      <img [src]="product.image" alt="image" width="250">
      <h2>{{product.price}}</h2>
      <p>{{product.name}}</p>
    </div>
  </div> -->

  <!-- <h1>Class & Style</h1>
  <input type="text" #nameInput="ngModel" [(ngModel)]="name" required>
  <p class="message-error" [class.invalid]="nameInput.invalid">Este campo es requerido</p> -->
  <!-- <label>Nombre</label>
  <input type="text" #nameInput="ngModel" [(ngModel)]="name" required>
  <p [style.font-style]="nameInput.invalid ? 'italic' : 'normal'">Texto de prueba</p> -->
  <!-- <div class="container">
    <div><input type="text" [(ngModel)]="widthImg"></div>
    <div><img [src]="img" alt="image" [style.width.px]="widthImg"></div>
  </div> -->
</body>
</html>
